<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @bookmarked_article.user %>
</p>

<p>
  <b>Article:</b>
  <%= @bookmarked_article.article %>
</p>

<p>
  <b>Thought:</b>
  <%= @bookmarked_article.thought %>
</p>


<%= link_to 'Edit', edit_bookmarked_article_path(@bookmarked_article) %> |
<%= link_to 'Back', bookmarked_articles_path %>
